div {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.gray-nav {
  display: flex;
  background-color: #eee;
  width: 100%;
  color: #000;
  padding-left: 20px;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}